<aside class="sidebar">

  <div class="brand">
    <h2>Academic RAG</h2>
    <span>Research Assistant</span>
  </div>

  <nav>

    <a
      routerLink="/research"
      routerLinkActive="active"
    >
      Research Results
    </a>

    <a
      routerLink="/ask"
      routerLinkActive="active"
    >
      Ask Question
    </a>

    <a
      routerLink="/upload"
      routerLinkActive="active"
    >
      Upload & Analyse
    </a>

    <a
      routerLink="/compare"
      routerLinkActive="active"
    >
      Compare Models
    </a>

  </nav>

</aside>